body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, white, blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.caja {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 1);
    width: 300px;
}

input {
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
}

#textoMostrado {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}